<h1>Gestion curricular de tesis</h1>

<p>
  Hola <%= @user.firstname %>, ha sido registrado en la plataforma Gestion curricular de tesis de maestria.
</p>

<!--find me in app/views/welcome/notify.html.erb -->
