// Place all the styles related to the MailTemplates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-button{
    background: url(/images/templateAdd.png);
}

.edit-button{
    background: url(/images/templateEdit.png);
}

.delete-button{
    background: url(/images/templateDelete.png);
}

.text-button-template{
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: black;
    font-size: 25px;
    width: 17px;
}