$font-stack:    Verdana;
$background-color: #cbcbcb;
$secondary-color: #666;
$normal-text-color: #000000;
$primary-blue: #0E84B1;


body {
    font: 100% $font-stack;
    color: $normal-text-color !important;
    background-color: $background-color !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	line-height: 20px;
    text-shadow: none;
    font-size: 14px;
    font-weight: 400;
    text-align:justify;
}

.link-info{
    display: block;
    color: $normal-text-color !important;
    margin-top: 10px;
}

h1{
	color: rgb(79, 79, 79);
	font-size:30px;
	}

h2 {
  color: rgb(79, 79, 79);
  font-size:21px;
  margin-top: 1.3em;
}
h3 {
  color: rgb(79, 79, 79);
  font-size:19px;
  margin-top: 1.3em;
  margin: 0 0 20px 0;
}
.btn {
    padding: 4px 24px;
    border: 0 none;
    font-weight: 100;
    letter-spacing: 1px;
    border-radius: 30px;
}

.btn-primary {

    background:  $primary-blue;
    color: #ffffff !important;
}


.contenedorprincipal {
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
	margin-left:auto;
	margin-right:auto;
    padding-right: 40px;

}

.cajatexto{
    display: block;
    height: 27px;
    text-size-adjust: 100%;
    width: 268.984px;
    border: 1px solid rgb(204, 204, 204);
    padding: 8px;
	  border-radius:3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.breadcrumb-class {
    font-size:13px;
    line-height: 30px;
    color: #323232;
    margin: 50px 0 0 0;
    border-bottom: 1px dotted #646464;
}

.main-container {
    width: 1280px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: white;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    -webkit-box-shadow: 0px -4px 3px rgba(175, 175, 175, 0.75);
    -moz-box-shadow:    0px -4px 3px rgba(175, 175, 175, 0.75);
    box-shadow:         0px -4px 3px rgba(175, 175, 175, 0.75);
}

.general-circle-button{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-size: auto 100% !important;
    background-position: center !important;
}

.general-circle-button:hover{
    opacity: 0.6;
}

.container-header{
    margin-bottom: 20px;
}

.crud-button{
    display: inline-block;
    margin-right: 50px;
}

.crud-button-disabled{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border: 2px solid;
}

.user-panel-container{
	margin: 0 auto;
	max-width: 350px;
	text-align: center;
	margin-top: -30px;
	font-size: 20px;
	background-color: #efebeb;
	padding: 10px;
	margin-bottom: 20px;
	border-bottom: gray solid 4px;
	-webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
	clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}

.username-panel{
	display: inline-block;
}

.logout-user{
	display: inline-block;

}
.assigned-gradework{
    width: 275px;
    padding: 30px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 250px;
    box-shadow: 5px 5px 5px #b9b6b6;
    display: inline-block;
}

.gradework-info{
    text-align: center;
}

.gradework-text{
    font-size: 20px;
    margin-top: 25px;
}

.gradework-more-info-btn{
    margin-top: 40px;
}
/////

/* Style the buttons inside the tab */
.tablinks {
    background-color: inherit;
    float: left;
    border-bottom: solid 1px lightgray;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tablinks :hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tablinks.active {
    background-color: #E5E5E5;

}

.panel.panel-default{
	display: none;
	margin-top: -10px;
    box-shadow: 5px 5px 5px #b9b6b6;
}

.panel-heading{
	display: none;
}

.panel-title{
	display: none;
	font-size: 25px;
}

.panel-body{
	display: none;
}

.relleno{
	margin-top: -10px;
	margin-bottom: 15px;
	background-color: #f1f1f1;
    padding-top: 35px;
    padding-bottom: 35px;
    box-shadow: 5px 5px 5px #b9b6b6;
}

.Dtab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 244px;
    margin-bottom: 10px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 325px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
    /* media: */
    .DIV_LOG{
      margin: 0 auto;
      float: none;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .DIV_LOG{
      margin: 0 auto;
      float: none;
    }

    .main-container {
        max-width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: white;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        -webkit-box-shadow: 0px -4px 3px rgba(175, 175, 175, 0.75);
        -moz-box-shadow:    0px -4px 3px rgba(175, 175, 175, 0.75);
        box-shadow:         0px -4px 3px rgba(175, 175, 175, 0.75);
    }
}
